node_modules
.git
.gitconfig-work
.pnpm-store
**/.DS_Store
.config/brazil
.config/cr
.config/karabiner
.config/lazygit/github_pull_requests.json
.config/lazygit/state.yml
.config/ohayo-raycast
.config/op
.config/raycast
