.DS_Store
node_modules

.config/lazygit/state.yml
.config/op
.config/brazil
.config/cr
.config/karabiner
.config/raycast
Brewfile.lock.json

bin/docker-compose
bin/docker-credential-osxkeychain
bin/kubectl
bin/orb
bin/orbctl

.gitconfig-work

