# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sean Boult
	email = 996134+Hacksore@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINhrq1CItzz6SwsZxrnvV9HD85lph+xuyvvQb9xi5/cp
[submodule]
	recurse = true
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[core]
  editor = code --wait
[diff]
	external = code --wait --diff $LOCAL $REMOTE
[help]
	autocorrect = 10
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
