[user]
	name = Sean Boult
	email = 996134+Hacksore@users.noreply.github.com
	signingkey = ~/.ssh/id_rsa.personal.pub 
[includeIf "gitdir/i:**/workplace/**"]
    path = .gitconfig-work
[includeIf "gitdir/i:~/oss/**"]
    path = .gitconfig-oss
[submodule]
	recurse = true
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
  editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
[help]
	autocorrect = 10
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[alias]
	# this will clean ignored packages expect for the top level node_modules 
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an <%al>%Creset' --abbrev-commit
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[tag]
	gpgsign = true
[rerere]
	enabled = true
